Repository ElBe-Development/localizer-rs, changes with the labels that .github/labeler.yml gives for each.
All labels: example, dependencies

Fixed publish attribute
  Cargo.toml
Labels: none

Converted tabs to spaces and fixed tests
  .github/README.md
  examples/main.rs
  src/lib.rs
Labels: example

Fixed spelling mistake
  .github/CONTRIBUTING.md
Labels: none

Fixed badge
  .github/README.md
Labels: none

Updated documentation
  src/lib.rs
Labels: none

Added errors
  src/errors.rs
  src/lib.rs
  tests/errors.rs
  tests/lib.rs
Labels: none

Implemented errors
  src/lib.rs
Labels: none

Formatted files
  examples/main.rs
  src/errors.rs
  tests/errors.rs
  tests/lib.rs
Labels: example

Bump version
  .github/SECURITY.md
  Cargo.toml
  src/errors.rs
  src/lib.rs
  tests/errors.rs
  tests/lib.rs
Labels: none

Added struct field documentation
  src/errors.rs
  src/lib.rs
Labels: none

Updated justfile
  justfile
Labels: none

Fixed indent
  .github/README.md
Labels: none

Added codecov
  .github/workflows/codecov_workflow.yml
  codecov.yml
Labels: none

Fixed tests being run
  .github/README.md
Labels: none

Renamed error import
  src/lib.rs
Labels: none

Fixed license and bump dependencies
  Cargo.toml
Labels: none

Bump actions/checkout from 3 to 4
  .github/workflows/dependencies.yml
  .github/workflows/megalinter.yml
  .github/workflows/rust.yml
Labels: none

Bump pre-commit from 3.3.2 to 3.4.0
  dev-requirements.txt
Labels: dependencies

Bump version
  .github/SECURITY.md
  Cargo.toml
  src/errors.rs
  src/lib.rs
  tests/errors.rs
  tests/lib.rs
Labels: none

Fixed license field
  Cargo.toml
Labels: none

Added one single missing bang
  src/lib.rs
Labels: none

Fixed yaml syntax error
  .github/workflows/codecov_workflow.yml
Labels: none

Added t!() macro
  .github/README.md
  .github/SECURITY.md
  .github/errors.md
  .github/workflows/codecov_workflow.yml
  Cargo.toml
  examples/main.rs
  src/errors.rs
  src/lib.rs
  tests/lib.rs
Labels: example

.github/labeler.yml:

---
example:
    - "examples/*"
dependencies:
    - "dev-requirements.txt"
